.editDefectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--panel);


  h1 {
    margin-bottom: 2rem;
    color: #333;
    text-align: center;
  }

  .error {
    color: #e74c3c;
    margin-bottom: 1rem;
    text-align: center;
  }
}
